<div fxLayout="column">

  <!-- Card -->
  <mat-card fxLayout="column" class="company-sentient-card">

    <!-- Card title -->
    <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
      <mat-card-title> {{companyName}} </mat-card-title>
    </div>

    <!-- Card content -->
    <div fxLayout="row" fxFlexFill fxLayoutAlign="center center"  class="sentiment-grid">
      <div fxLayout="column" [fxFlex]="isLast ? '100%' : '33%'" fxLayoutAlign="center center" class="sentiment-item" *ngFor="let item of sentiment; last as isLast">

        <div fxLayout="row" fxLayoutAlign="center center" >
          <div fxLayout="column" fxLayoutAlign="center center" fxFlex="80%">

            <div fxLayout="row" fxFlexFil>
              <p>{{ (item.month.toString().padStart(2, '0') + '-' + item.year.toString()) }}</p>
            </div>
            <div fxLayout="row" fxFlexFil>
              <p>Change: {{ item.change }}</p>
            </div>
            <div fxLayout="row" fxFlexFil>
              <p>Mspr: {{ item.mspr }}</p>
            </div>
          </div>

          <div fxLayout="column" fxLayoutAlign="center center" fxFlex="20%">

            <p *ngIf="item.change > 0">
              <mat-icon>arrow_upward</mat-icon>
            </p>
            <p *ngIf="item.change < 0">
              <mat-icon>arrow_downward</mat-icon>
            </p>
          </div>
        </div>

      </div>
    </div>
  </mat-card>

  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100%">
    <mat-icon>chevron_left</mat-icon>
    <button mat-button (click)="goBack()">Back</button>
  </div>
</div>
