<div class="sentiment-container" fxLayout="column">

  <mat-card fxLayout="row">
    <mat-card-header>
      <mat-card-title>Sentiment</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="sentiment-grid" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <div class="sentiment-item" *ngFor="let item of sentiment" fxFlex="0 1 auto">
          <p>{{ (item.month.toString().padStart(2, '0') + '-' + item.year.toString()) }}</p>
          <p>Change: {{ item.change }}</p>
          <p>Mspr: {{ item.mspr }}</p>
          <p *ngIf="item.change > 0">
            <mat-icon>arrow_upward</mat-icon>
          </p>
          <p *ngIf="item.change < 0">
            <mat-icon>arrow_downward</mat-icon>
          </p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100%">
    <mat-icon>chevron_left</mat-icon>
    <button mat-button (click)="goBack()">Back</button>
  </div>
</div>



