<div fxLayout="column">

  <!-- Card -->
    <div fxLayout="column" fxFlex="80%" class="company-sentient-card">
      <ng-container *ngIf="sentiments.length > 0; else noSentimentsTemplate">

        <!-- Card title -->
        <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
          <h1> <strong>({{symbol}}) {{companyName}}</strong> </h1>
        </div>

        <!-- Card content -->
        <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
          <mat-card fxLayout="column" [fxFlex]="sentiments.length == 1 ? '100%' : sentiments.length == 2 ? '50%' : '33%'" class="sentiment-item" *ngFor="let sentiment of sentiments">
            <div fxLayout="row">

              <div fxLayout="column" fxFlex="65%" fxLayoutGap="15px" style="padding: 20px;">
                <div fxLayout="row" fxFlexFil>
                  <span style="font-size: 20px;"><b>{{ (monthNames[sentiment.month - 1] + ' ' + sentiment.year.toString()) }}</b></span>
                </div>
                <div fxLayout="row" fxFlexFil>
                  <span style="font-size: 14px;"><b>Change</b>: {{ sentiment.change }}</span>
                </div>
                <div fxLayout="row" fxFlexFil>
                  <span style="font-size: 14px;"><b>Mspr</b>: {{ sentiment.mspr }}</span>
                </div>
              </div>

              <div fxFlex="35%" fxLayout="column" fxLayoutAlign="center center">
                <div [ngSwitch]="sentiment.change > 0">
                  <mat-icon *ngSwitchCase="true" color="primary" class="icon-trending">trending_up</mat-icon>
                  <mat-icon *ngSwitchCase="false" color="warn" class="icon-trending">trending_down</mat-icon>
                </div>
              </div>
            </div>
          </mat-card>
        </div>

      </ng-container>
      <ng-template #noSentimentsTemplate>
        <mat-card fxLayout="column" class="sentiment-item" fxLayoutAlign="center center">
            No data available for <strong>({{symbol}}) {{companyName}}</strong>
        </mat-card>

      </ng-template>

      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100%" style="margin-top: 20px;">
        <mat-icon>chevron_left</mat-icon>
        <button id="backBtn" mat-button (click)="goBack()">Back</button>
      </div>

    </div>




</div>
