.positive {
  color: green;
}

.negative {
  color: red;
}

.company-sentient-card {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.icon-trending {
  transform: scale(3);
}

.sentiment-item{
  margin-right: 10px;
  margin-left: 10px;
}
