<mat-card>
  <!-- Card header -->
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
    <div fxLayout="column" fxLayoutGap="10px" fxFlex="80%">
      <mat-card-title class="company-stock-title" > ({{company.stockSymbol.symbol}}) {{company.stockSymbol.description}}</mat-card-title>
    </div>
    <div fxLayout="column" fxLayoutGap="10px">
      <button id="{{'remove' + (company.stockSymbol.symbol | uppercase)}}" mat-button (click)="removeSymbol(company.stockSymbol.symbol)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <!-- Card content -->
  <mat-card-content fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px" class="company-stock-list-card">
    <div fxFlex="80%" fxLayout="column" fxLayoutGap="20px">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
        <span fxFlex="50%"><b>Change today:</b> <br> {{company.quote.d ? (company.quote.d | number:'1.0-2') + '%' : 'No data'}} </span>
        <span fxFlex="50%"><b>Opening price:</b> <br> {{company.quote.o ? (company.quote.o | currency) : 'No data'}} </span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
        <span fxFlex="50%"><b>Current price:</b> <br> {{company.quote.c ? (company.quote.c | currency) : 'No data'}} </span>
        <span fxFlex="50%"><b>High price:</b> <br> {{company.quote.h ? (company.quote.h | currency) : 'No data'}} </span>
      </div>
    </div>

    <div fxFlex="20%" fxLayout="column" fxLayoutAlign="center center">
      <ng-container *ngIf="company.quote.d; else noCompanyData">
        <div [ngSwitch]="company.quote.d > 0">
          <mat-icon *ngSwitchCase="true" color="primary" class="icon-trending change-positive">trending_up</mat-icon>
          <mat-icon *ngSwitchCase="false" color="warn" class="icon-trending change-negative">trending_down</mat-icon>
        </div>
      </ng-container>
      <ng-template #noCompanyData>
        <div>
          <mat-icon class="icon-trending icon-trending-no-data">error_outline</mat-icon>
        </div>
      </ng-template>
    </div>
  </mat-card-content>

  <!-- Card actions -->
  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="end center" fxFlex="100%">
      <button mat-button id="{{'sentiment' + (company.stockSymbol.symbol | uppercase)}}" [routerLink]="['/sentiment', company.stockSymbol.symbol]" [queryParams]="{ companyName: company.stockSymbol.description}">See sentiment
        details</button>
      <mat-icon>chevron_right</mat-icon>
    </div>
  </mat-card-actions>

</mat-card>
