<div class="stock-tracker-container" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="50px">

  <!-- Stock tracker form -->
  <mat-card>
    <mat-card-header>
      <mat-card-title> {{'Stock Tracker' | uppercase}} </mat-card-title>
      <mat-card-subtitle>Enter the symbol of a stock to trag (i.e. AAPL., TSLA., GOOGL)</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>

      <form [formGroup]="stockForm" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="50px">
        <mat-form-field>
          <input id="stockInput" matInput placeholder="Enter stock symbol" formControlName="symbol" />
          <mat-error *ngIf="stockForm.get('symbol')?.hasError('required')">
            Stock symbol is required
          </mat-error>
          <mat-error *ngIf="stockForm.get('symbol')?.hasError('minlength')">
            Stock symbol must be at least 1 character long
          </mat-error>
          <mat-error *ngIf="stockForm.get('symbol')?.hasError('maxlength')">
            Stock symbol must be at most 5 characters long
          </mat-error>
          <mat-error *ngIf="stockForm.get('symbol')?.hasError('duplicate')">
            Stock symbol is already tracked
          </mat-error>
        </mat-form-field>
        <button id="trackBtn" mat-raised-button color="primary" (click)="addSymbol()" [disabled]="!stockForm.valid">Track Stock</button>
      </form>

    </mat-card-actions>
  </mat-card>

  <!-- Display stock information about companies -->
  <div *ngFor="let company of companyStockCombined">
    <mat-card>
      <mat-card-header>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
          <mat-card-title> {{company?.description}} {{company.description}}</mat-card-title>
          <button id="{{'remove' + (company?.symbol | uppercase)}}" mat-button (click)="removeSymbol(company.symbol)">X</button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
          <button mat-button>Change today: {{company?.d}} </button>
          <button mat-button>Opening price: {{company?.o}} </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
          <button mat-button>Current price: {{company?.c}} </button>
          <button mat-button>High price: {{company?.h}} </button>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button id="{{'sentiment' + (company?.symbol | uppercase)}}">See sentiment details</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
