<div fxLayout="column">

  <!-- Card -->
    <div fxLayout="column" fxFlex="80%" fxLayoutGap="10px">

      <!-- Card title -->
      <div fxLayout="row" fxFlexFill fxLayoutAlign="center center" class="company-sentient-title">
        <mat-card-title> <strong>({{symbol}}) {{companyName}}</strong> </mat-card-title>
      </div>

      <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
        <mat-card-subtitle>
          <span><b>Note</b>: some companies may not have sentiment data or may only have data for the last one or two months.</span>
        </mat-card-subtitle>
      </div>

      <ng-container *ngIf="sentiments.length > 0; else noSentimentsTemplate">

        <!-- Card content -->
        <div fxLayout="row" fxFlexFill fxLayoutAlign="center center" class="company-sentient-card">
          <mat-card fxLayout="column" [fxFlex]="sentiments.length == 1 ? '100%' : sentiments.length == 2 ? '50%' : '33%'" class="sentiment-item" *ngFor="let sentiment of sentiments">
            <div fxLayout="row">

              <div fxLayout="column" fxFlex="65%" fxLayoutGap="15px" class="company-sentiment-data">
                <div fxLayout="row" fxFlexFil>
                  <span class="company-sentiment-data-date"><b>{{ (monthNames[sentiment.month - 1] + ' ' + sentiment.year.toString()) }}</b></span>
                </div>
                <div fxLayout="row" fxFlexFil>
                  <span class="company-sentiment-data-change-mspr"><b>Change</b>: {{ sentiment.change }}</span>
                </div>
                <div fxLayout="row" fxFlexFil>
                  <span class="company-sentiment-data-change-mspr"><b>Mspr</b>: {{ sentiment.mspr }}</span>
                </div>
              </div>

              <div fxFlex="35%" fxLayout="column" fxLayoutAlign="center center">
                <div [ngSwitch]="sentiment.change > 0">
                  <mat-icon *ngSwitchCase="true" class="icon-trending change-positive">trending_up</mat-icon>
                  <mat-icon *ngSwitchCase="false" class="icon-trending change-negative">trending_down</mat-icon>
                </div>
              </div>
            </div>
          </mat-card>
        </div>

      </ng-container>
      <ng-template #noSentimentsTemplate>
        <mat-card fxLayout="column" class="sentiment-item company-sentient-card" fxLayoutAlign="center center">
            No data available
        </mat-card>

      </ng-template>

      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100%" class="company-sentiment-back-btn">
        <mat-icon>chevron_left</mat-icon>
        <button id="backBtn" mat-button (click)="goBack()">Back</button>
      </div>

    </div>

</div>
