$my-primary-color: (
    50 : #e4f5fb,
    100 : #bce5f5,
    200 : #95d5ef,
    300 : #76c4e7,
    400 : #66b7e1,
    500 : #5eabdc,
    600 : #579dcd,
    700 : #4e8bb9,
    800 : #487aa5,
    900 : #3b5b81,
    A100 : #8fb8ff,
    A200 : #5c97ff,
    A400 : #2977ff,
    A700 : #0f67ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$my-accent-color: (
    50 : #fffce5,
    100 : #fff7be,
    200 : #fff193,
    300 : #ffec66,
    400 : #ffe63f,
    500 : #fde100,
    600 : #ffd102,
    700 : #feb800,
    800 : #fd9f00,
    900 : #fb7200,
    A100 : #ffffff,
    A200 : #fffbf2,
    A400 : #ffeabf,
    A700 : #ffe2a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$my-warn-color: (
    50 : #ffebee,
    100 : #ffcdd2,
    200 : #ef9a9a,
    300 : #e57373,
    400 : #ef5350,
    500 : #f44336,
    600 : #e53935,
    700 : #d32f2f,
    800 : #c62828,
    900 : #b71c1c,
    A100 : #ff8a80,
    A200 : #ff5252,
    A400 : #ff1744,
    A700 : #d50000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
