/*
Docs:  https://material.angular.io/guide/typography#typography-levels
Github material typography file https://github.com/angular/components/blob/master/src/material/core/typography/_typography.scss
The table below lists the CSS classes emitted and the native elements styled.

CSS class	                            Level name	      Native elements
.mat-headline-1	                      headline-1	      None
.mat-headline-2	                      headline-2	      None
.mat-headline-3	                      headline-3	      None
.mat-headline-4	                      headline-4	      None
.mat-h1 or .mat-headline-5	          headline-5	      <h1>
.mat-h2 or .mat-headline-6	          headline-6	      <h2>
.mat-h3 or .mat-subtitle-1	          subtitle-1	      <h3>
.mat-h4 or .mat-body-1	              body-1	          <h4>
.mat-h5	                              None	            <h5>
.mat-h6	                              None	            <h6>
.mat-body or .mat-body-2	            body-2	          Body text
.mat-body-strong or .mat-subtitle-2	  subtitle-2	      None
.mat-small or .mat-caption	          caption	          None

*/

$template-typography: mat-typography-config(
  $font-family: 'Montserrat, sans-serif',
  $display-4: mat-typography-level(112px, 112px, 300),
  $display-3: mat-typography-level(66px, 56px, 400),
  $display-2: mat-typography-level(55px, 48px, 400),
  $display-1: mat-typography-level(44px, 40px, 400),
  $headline: mat-typography-level(34px, 32px, 400),
  $title: mat-typography-level(20px, 32px, 500),
  $subheading-2: mat-typography-level(16px, 22px, 500),
  $subheading-1: mat-typography-level(15px, 24px, 400),
  $body-1: mat-typography-level(14px, 30px, 400),
  $body-2: mat-typography-level(14px, 24px, 500),
  $caption: mat-typography-level(12px, 20px, 400),
  $button: mat-typography-level(14px, 14px, 500),
  $input: mat-typography-level(inherit, 1.125, 400),
);
