<div fxLayout="column">

  <mat-card fxLayout="column" fxLayoutAlign="center center" class="stock-tracker-card">

    <mat-card-header>
      <mat-card-title><b> {{'Stock Tracker' | uppercase}} </b></mat-card-title>
      <mat-card-subtitle>Enter the symbol of a stock to trag (i.e. AAPL., TSLA., GOOGL). <strong>Note</strong> the query will return the first result that matches the symbol of a stock</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions class="stock-tracker-card-actions">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="50px" fxLayoutGap.lt-sm="10px" fxLayoutAlign="center center">
          <form [formGroup]="stockForm">
            <mat-form-field appearance="outline" class="input-headline">
              <input id="stockInput" matInput placeholder="Enter stock symbol" formControlName="symbol" />
              <mat-error *ngIf="stockForm.get('symbol')?.hasError('required')">
                Stock symbol is required
              </mat-error>
              <mat-error *ngIf="stockForm.get('symbol')?.hasError('minlength')">
                Stock symbol must be at least 1 character long
              </mat-error>
              <mat-error *ngIf="stockForm.get('symbol')?.hasError('maxlength')">
                Stock symbol must be at most 5 characters long
              </mat-error>
              <mat-error *ngIf="stockForm.get('symbol')?.hasError('duplicate')">
                Stock symbol is already tracked
              </mat-error>
              <mat-error *ngIf="stockForm.get('symbol')?.hasError('whitespace')">
                Stock symbol cannot contain leading or trailing whitespace
              </mat-error>
            </mat-form-field>
          </form>
          <button id="trackBtn" mat-raised-button color="primary" (click)="addSymbol()" [disabled]="!stockForm.valid">Track Stock</button>
          <button mat-raised-button color="warn" (click)="removeAllSymbols()" [disabled]="companyStockCombined.length === 0">Remove all tracked stocks</button>
      </div>
    </mat-card-actions>
  </mat-card>

  <!-- Companies stock -->
  <div fxFill fxLayout="row wrap">
    <div fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" class="company-stock-item" *ngFor="let company of companyStockCombined">
      <app-company-stock-item [company]="company" (removeSymbolEvent)="removeSymbol($event)"></app-company-stock-item>
    </div>
  </div>

</div>
