<div fxLayout="column">

  <!-- Card -->
  <mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" class="stock-tracker-card">

    <!-- Card title -->
    <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
      <mat-card-title> {{'Stock Tracker' | uppercase}} </mat-card-title>
    </div>

    <!-- Card subtitle -->
    <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
      <mat-card-subtitle>
        Enter the symbol of a stock to trag (i.e. AAPL., TSLA., GOOGL). <strong>Note</strong> the query will return the first result that matches the symbol of a stock
      </mat-card-subtitle>
    </div>

    <!-- Card content -->
    <div fxLayout="row" fxFlexFill fxLayoutGap="50px" fxLayoutAlign="center center" class="form-container">
      <form [formGroup]="stockForm">
        <mat-form-field>
          <!-- TODO prevent multiple key presses in a row -->
          <input id="stockInput" matInput placeholder="Enter stock symbol" formControlName="symbol" (keyup.enter)="addSymbol()"/>
          <mat-error *ngIf="stockForm.get('symbol')?.hasError('required')">
            Stock symbol is required
          </mat-error>
          <mat-error *ngIf="stockForm.get('symbol')?.hasError('minlength')">
            Stock symbol must be at least 1 character long
          </mat-error>
          <mat-error *ngIf="stockForm.get('symbol')?.hasError('maxlength')">
            Stock symbol must be at most 5 characters long
          </mat-error>
          <mat-error *ngIf="stockForm.get('symbol')?.hasError('duplicate')">
            Stock symbol is already tracked
          </mat-error>
          <mat-error *ngIf="stockForm.get('symbol')?.hasError('whitespace')">
            Stock symbol cannot contain leading or trailing whitespace
          </mat-error>
        </mat-form-field>
      </form>
      <button id="trackBtn" mat-raised-button color="primary" (click)="addSymbol()" [disabled]="!stockForm.valid">Track Stock</button>
    </div>
  </mat-card>

  <!-- Companies stock -->
  <div fxFill fxLayout="row wrap">
    <div fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" class="company-stock-container" *ngFor="let company of companyStockCombined">
      <app-company-stock-list [company]="company" (removeEvent)="removeSymbol($event)"></app-company-stock-list>
    </div>
  </div>

</div>
