<div fxLayout="column">

  <mat-card fxLayout="column" fxLayoutAlign="center center" class="sentiment-card">

    <mat-card-header>
      <mat-card-title> <strong>({{symbol}}) {{companyName}}</strong> </mat-card-title>
      <mat-card-subtitle><b>Note</b>: some companies may not have sentiment data or may only have data for the last one or two months.</mat-card-subtitle>
    </mat-card-header>

  </mat-card>


  <div fxFill fxLayout="row wrap">
      <div fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" class="company-stock-item" *ngFor="let number of [0,1,2]; let i = index">

        <ng-container *ngIf="sentiments[i]; else noSentimentsTemplate">
          <mat-card fxLayout="row" class="company-sentient-item-card">
            <div fxLayout="column" fxFlex="65%" fxLayoutGap="15px" class="company-sentiment-data">
              <div fxLayout="row">
                <span class="company-sentiment-data-date"><b>{{ (monthNames[sentiments[i].month - 1] + ' ' + sentiments[i].year.toString()) }}</b></span>
              </div>
              <div fxLayout="row">
                <span class="company-sentiment-data-change-mspr"><b>Change</b>: {{ sentiments[i].change }}</span>
              </div>
              <div fxLayout="row">
                <span class="company-sentiment-data-change-mspr"><b>Mspr</b>: {{ sentiments[i].mspr }}</span>
              </div>
            </div>

            <div fxLayout="column" fxFlex="35%" fxLayoutAlign="center center">
              <div [ngSwitch]="sentiments[i].change > 0">
                <mat-icon *ngSwitchCase="true" class="icon-trending change-positive">trending_up</mat-icon>
                <mat-icon *ngSwitchCase="false" class="icon-trending change-negative">trending_down</mat-icon>
              </div>
            </div>
          </mat-card>
        </ng-container>
        <ng-template #noSentimentsTemplate>
          <mat-card fxLayout="row" fxLayoutAlign="center center" class="company-sentient-item-card">
            No data available
          </mat-card>
        </ng-template>

      </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100%" class="company-sentiment-back-btn">
    <mat-icon>chevron_left</mat-icon>
    <button id="backBtn" mat-button (click)="goBack()">Back</button>
  </div>
</div>
