.sentiment-card {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.sentiment-card-header {
  margin-bottom: 10px
}

.company-sentiment-back-btn {
  margin-top: 20px
}

.sentiment-card-item-no-data {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 130px;
}
