<div fxLayout="column">

  <mat-card fxLayout="column" fxLayoutAlign="center center" class="sentiment-card">

    <mat-card-header class="sentiment-card-header">
      <mat-card-title> <strong>({{symbol}}) {{companyName}}</strong> </mat-card-title>
      <mat-card-subtitle><b>Note</b>: some companies may not have sentiment data or may only have data for the last one or two months.</mat-card-subtitle>
    </mat-card-header>

  </mat-card>

  <div fxFill fxLayout="row wrap">
      <div fxFlex="25" fxFlex.md="33" fxFlex.sm="100" fxFlex.xs="100" fxLayout="column" class="company-stock-item" *ngFor="let number of [0,1,2]; let i = index">

        <ng-container *ngIf="sentiments[i]; else noSentimentsTemplate">
          <app-sentiment-item [sentiment]="sentiments[i]"></app-sentiment-item>
        </ng-container>

        <ng-template #noSentimentsTemplate>
          <mat-card fxLayout="row" fxLayoutAlign="center center" class="sentiment-card-item-no-data">
            No data available
          </mat-card>
        </ng-template>

      </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100%" class="company-sentiment-back-btn">
    <mat-icon>chevron_left</mat-icon>
    <button id="backBtn" mat-button (click)="goBack()">Back</button>
  </div>

</div>
