<div class="widgets-typography-container" fxLayout="column" fxLayoutGap="1.5rem">

  <mat-card>
    <mat-card-title>mat-card-title</mat-card-title>
    <mat-card-content>
      <br>
      <div class="mat-typography" fxLayout="column" fxLayoutGap="0.5rem">
        <h1 class="mat-display-4">mat-display-4 &mdash; 112px light</h1>
        <h2 class="mat-display-3">mat-display-3 &mdash; 56px normal</h2>
        <h3 class="mat-display-2">mat-display-2 &mdash; 45px normal</h3>
        <h4 class="mat-display-1">mat-display-1 &mdash; 34px normal</h4>
        <h1 class="mat-headline">mat-headline (h1) &mdash; 24px normal</h1>
        <h2 class="mat-title">mat-title (h2) &mdash; 20px medium</h2>
        <h3 class="mat-subheading-2">mat-subheading-2 (h3) &mdash; 16px normal</h3>
        <h4 class="mat-subheading-1">mat-subheading-1 (h4) &mdash; 15px normal</h4>
        <p class="mat-body-1">mat-body-1 &mdash; 14px normal</p>
        <p class="mat-body-2">mat-body-2 &mdash; 14px medium</p>
        <p class="mat-caption">mat-caption &mdash; 12px normal</p>
      </div>


      <table>
        <thead>
        <tr>
        <th>CSS class</th>
        <th>Level name</th>
        <th>Native elements</th>
        </tr>
        </thead>
        <tbody><tr>
        <td><code>.mat-headline-1</code></td>
        <td><code>headline-1</code></td>
        <td>None</td>
        </tr>
        <tr>
        <td><code>.mat-headline-2</code></td>
        <td><code>headline-2</code></td>
        <td>None</td>
        </tr>
        <tr>
        <td><code>.mat-headline-3</code></td>
        <td><code>headline-3</code></td>
        <td>None</td>
        </tr>
        <tr>
        <td><code>.mat-headline-4</code></td>
        <td><code>headline-4</code></td>
        <td>None</td>
        </tr>
        <tr>
        <td><code>.mat-h1</code> or <code>.mat-headline-5</code></td>
        <td><code>headline-5</code></td>
        <td><code>&lt;h1&gt;</code></td>
        </tr>
        <tr>
        <td><code>.mat-h2</code> or <code>.mat-headline-6</code></td>
        <td><code>headline-6</code></td>
        <td><code>&lt;h2&gt;</code></td>
        </tr>
        <tr>
        <td><code>.mat-h3</code> or <code>.mat-subtitle-1</code></td>
        <td><code>subtitle-1</code></td>
        <td><code>&lt;h3&gt;</code></td>
        </tr>
        <tr>
        <td><code>.mat-h4</code> or <code>.mat-body-1</code></td>
        <td><code>body-1</code></td>
        <td><code>&lt;h4&gt;</code></td>
        </tr>
        <tr>
        <td><code>.mat-h5</code></td>
        <td>None</td>
        <td><code>&lt;h5&gt;</code></td>
        </tr>
        <tr>
        <td><code>.mat-h6</code></td>
        <td>None</td>
        <td><code>&lt;h6&gt;</code></td>
        </tr>
        <tr>
        <td><code>.mat-body</code> or <code>.mat-body-2</code></td>
        <td><code>body-2</code></td>
        <td>Body text</td>
        </tr>
        <tr>
        <td><code>.mat-body-strong</code> or <code>.mat-subtitle-2</code></td>
        <td><code>subtitle-2</code></td>
        <td>None</td>
        </tr>
        <tr>
        <td><code>.mat-small</code> or <code>.mat-caption</code></td>
        <td><code>caption</code></td>
        <td>None</td>
        </tr>
        </tbody></table>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1.0rem">
      <a mat-stroked-button href="https://material.angular.io/guide/typography" target="_blank">Typography Info</a>
    </mat-card-actions>
  </mat-card>

</div>
