<div class="widgets-buttons-container" fxLayout="column" fxLayoutGap="1.5rem">

  <mat-card>
    <br>
    <mat-card-title>Buttons</mat-card-title>
    <mat-card-content>
      <div fxLayout="row" fxLayout.xs="column" Gap="2.5rem">
        <div fxFlex="50%" fxFlex.xs="100%">
          <section>
            <span><strong>Basic</strong></span>
            <div fxLayout="row" fxLayoutGap="0.5rem">
              <button mat-button>Basic</button>
              <button mat-button color="primary">Primary</button>
              <button mat-button color="accent">Accent</button>
              <button mat-button color="warn">Warn</button>
              <button mat-button disabled>Disabled</button>
              <a mat-button href="https://www.google.com/" target="_blank">Link</a>
            </div>
          </section>
          <mat-divider></mat-divider>
          <section>
            <span><strong>Raised</strong></span>
            <div fxLayout="row" fxLayoutGap="0.5rem">
              <button mat-raised-button>Basic</button>
              <button mat-raised-button color="primary">Primary</button>
              <button mat-raised-button color="accent">Accent</button>
              <button mat-raised-button color="warn">Warn</button>
              <button mat-raised-button disabled>Disabled</button>
              <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
            </div>
          </section>
          <mat-divider></mat-divider>
          <section>
            <span><strong>FAB</strong></span>
            <div fxLayout="row" fxLayoutGap="0.5rem">
              <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
                <mat-icon>bookmark</mat-icon>
              </button>
              <button mat-fab color="warn" aria-label="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
              </button>
              <button mat-fab disabled aria-label="Example icon button with a heart icon">
                <mat-icon>favorite</mat-icon>
              </button>
            </div>
          </section>
          <mat-divider></mat-divider>
          <section>
            <span><strong>FAB</strong></span>
            <div fxLayout="row" fxLayoutGap="0.5rem">
              <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button>
              <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                <mat-icon>plus_one</mat-icon>
              </button>
              <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                <mat-icon>filter_list</mat-icon>
              </button>
              <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
              </button>
            </div>
          </section>
        </div>

        <div fxFlex="50%" fxFlex.xs="100%">
          <section>
            <span><strong>Stroked</strong></span>
            <div fxLayout="row" fxLayoutGap="0.5rem">
              <button mat-stroked-button>Basic</button>
              <button mat-stroked-button color="primary">Primary</button>
              <button mat-stroked-button color="accent">Accent</button>
              <button mat-stroked-button color="warn">Warn</button>
              <button mat-stroked-button disabled>Disabled</button>
              <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
            </div>
          </section>
          <mat-divider></mat-divider>
          <section>
            <span><strong>Flat</strong></span>
            <div fxLayout="row" fxLayoutGap="0.5rem">
              <button mat-flat-button>Basic</button>
              <button mat-flat-button color="primary">Primary</button>
              <button mat-flat-button color="accent">Accent</button>
              <button mat-flat-button color="warn">Warn</button>
              <button mat-flat-button disabled>Disabled</button>
              <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
            </div>
          </section>
          <mat-divider></mat-divider>
          <section>
            <span><strong>Icon</strong></span>
            <div fxLayout="row" fxLayoutGap="0.5rem">
              <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>more_vert</mat-icon>
              </button>
              <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
              </button>
              <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button>
              <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                <mat-icon>favorite</mat-icon>
              </button>
              <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
                <mat-icon>open_in_new</mat-icon>
              </button>
            </div>
          </section>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
