:host {
  // display: flex;
  // flex-grow: 1;
  // width: 100%;
  // height: 100%;
  background: red;
  margin: 20px;
}

.stock-tracker-card {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.company-stock-item {
  padding: 10px;
}

.stock-tracker-card-actions {
  margin-bottom: 10px
}

.input-headline {
  font-size: 14px;
}
