<mat-card>

  <!-- Card header -->
  <mat-card-header>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
        <mat-card-title> ({{company?.symbol}}) {{company.description}}</mat-card-title>
      </div>
      <div fxLayout="column" fxLayoutAlign="end center" fxLayoutGap="5px">
        <button id="{{'remove' + (company?.symbol | uppercase)}}" mat-button (click)="removeSymbol(company.symbol)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-header>

  <!-- Card content -->
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">

      <div fxFlex="80%" fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
          <span fxFlex="50%"><b>Change today:</b> <br>{{company.d | number:'1.0-2'}}% </span>
          <span fxFlex="50%"><b>Opening price:</b> <br>{{company.o | currency}} </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
          <span fxFlex="50%"><b>Current price:</b> <br>{{company.c | currency}} </span>
          <span fxFlex="50%"><b>High price:</b> <br>{{company.h | currency}} </span>
        </div>
      </div>

      <div fxFlex="20%" fxLayout="column" fxLayoutAlign="center center">
        <div [ngSwitch]="company.d > 0">
          <div *ngSwitchCase="true">
            <mat-icon color="primary" class="icon-trending">trending_up</mat-icon>
          </div>
          <p *ngSwitchCase="false">
            <mat-icon color="warn" class="icon-trending">trending_down</mat-icon>
          </p>
          <p *ngSwitchDefault>
            <mat-icon color="accent" class="icon-trending">trending_flat</mat-icon>
          </p>
        </div>
      </div>
    </div>
  </mat-card-content>

  <!-- Card actions -->
  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="end center" fxFlex="100%">
      <button mat-button id="{{'sentiment' + (company?.symbol | uppercase)}}" [routerLink]="['/stock-tracker/sentiment', company?.symbol]" [queryParams]="{ companyName: company.description}">See sentiment
        details</button>
      <mat-icon>chevron_right</mat-icon>
    </div>
  </mat-card-actions>

</mat-card>
